* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
body {
  margin: auto;
  padding: 0;
  background-repeat: no-repeat;
}

.form-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.form-container > * {
  width: 100%;
}
.header-container {
  color: rgb(0, 0, 0);
  width: 100%;
  word-wrap: break-word;
  word-break: break-word;
  margin: 10px 0;
  padding: 0 10px;
}
.header-container h1{
    font-size: 30px;
  font-weight: 600;
  text-align: left;
  margin: 0 auto;
  text-transform: capitalize;
}
.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}
.form-content form {
  display: flex;
  flex-direction: column;
}
.row {
    display: grid;
    grid-template-columns: 50% 50%;
}
.input-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
  padding: 5px 10px;
}
